<body>
  <div>
    <div class="testbox">
      <form name = "newBookForm">
        <h1>Book Review</h1>

        <div class="item">
          <div class="multi-item">
            <label class="form-labels" for="title">Title:</label>
            <input type="text" name="title" placeholder="Title" [(ngModel)]="newBook.title"/>
            <label class="form-labels" for="Author Name">Author Name:</label>
            <input type="text" name="authorName" placeholder="Author Name" [(ngModel)]="newBook.authorName" />
          </div>
        </div>
        <div class="item">
          <label class="form-labels" for="Comments">Any comments you want to share?</label>
          <textarea rows="3" name ="comments" [(ngModel)]="newBook.comments"></textarea>
        </div>

        <div class="item">
          <div class="multi-item">
            <label class="form-labels" for="length">Length:</label>
            <input type="text" name="length" placeholder="(Pages or Hours)" [(ngModel)]="newBook.length" />
            <label class="form-labels" for="format">Format:</label>
            <select id="format" name="format" [(ngModel)]="newBook.format">
              <option value="Digital">Digital</option>
              <option value="Hard Copy">Hard Copy</option>
              <option value="Audio">Audio</option>
            </select>
          </div>
        </div>

        <div class="item">
          <div class="multi-item">
            <label class="form-labels" for="recommended">Do you recommended?</label>
            <label for="yesCheckbock">Yes</label>
            <input type="radio" id="yesCheckbox" name = "recommendedTrue" value="True" [(ngModel)]="newBook.recommended"/>
            <label for="noCheckbock">No</label>
           <input type="radio" id = "noCheckbox" name = "recommendedFalse" value="False" [(ngModel)]="newBook.recommended" />

            <Label class="form-labels" for="genre">Genre:</Label>
            <input name = "genre" type="text" placeholder="Romance, Comedy, Fantasy..." [(ngModel)]="newBook.genre"/>
          </div>
        </div>

<div class="item">
<div class="multi-item">

  <Label class="form-labels" for="rating">Rating:</Label>
  <input type="number" placeholder="Provide a rating:  1-10" [(ngModel)]="newBook.rating" name = "rating"/>
  <Label class="form-labels" for="tomeToRead">Time to read:</Label>
  <input type="text" placeholder="How long did it take you to read?" [(ngModel)]="newBook.timeToRead" name="timeToRead"/>

</div>
</div>

        <div class="btn-block">
          <button type="button" (click)="addReview(newBook)">SEND</button>
        </div>


      </form>
    </div>
  </div>
<br>

</body>
